[Unit]
Description=CouchPotato application instance
After=network.target

[Service]
ExecStart={{homedir}}/CouchPotato.py
Type=simple
User={{username}}
Group={{group}}

[Install]
WantedBy=multi-user.target
